body {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

.navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(7, 7, 7);
  padding: 10px;
}
a {
  text-decoration: none;
  margin: 20px;
  font-size: 1rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
}
.top-title {
  text-transform: uppercase;
  text-align: center;
  color: rgb(119, 226, 214);
}
.banner {
  background-image: url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 100%;
  padding-top: 2px;
}
